.destinationCard {
  width: 25vw;
  height: 35vw;
  border-radius: 3vw;
  overflow: hidden;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

.destinationCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinationNameContainer {
  width: 100%;
  display: flex;
  justify-content: left;
}

.destinationInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 50%;
}

.destinationSymbol {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destinationName {
  font-size: 2.5vw;
  margin-left: 5%;
  margin-top: 2%;
}

.destinationTemp, .destinationWind {
  font-size: 2.2vw;
  margin-left: 10%;
}

.weatherIcon {
  width: 70%;
}

.details {
  flex-basis: 100%;
  font-size: 1.67vw;
  color: white;
  text-decoration: none;
  text-align: center;
}

.details:hover {
  background-color: #2e485c;
  cursor: pointer;
  color: white;
}

.destinationCardDivider {
  margin-top: 0;
  color: white;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 50%;
}

.favourite {
  width: 3.33vw;
  height: 3.33vw;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}


/* Change sizes when using mobile, so that cards appear one after one */

@media (max-aspect-ratio: 3/4) {

  .destinationCard {
    width: 100%;
    height: 126vw;
    border-radius: 10vw;
  }

  .destinationName {
    font-size: 9vw;
  }

  .destinationTemp, .destinationWind {
    font-size: 9.2vw;
  }

  .details {
    font-size: 6vw;
  }

  .favourite   {
    width: 12vw;
    height: 12vw;
  }
}