.weatherNowCard {
  background-color: #406882;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 25px;
  padding: 4vw 0;
}

.weatherNowCard:hover {
  cursor: pointer;
}

.weatherNowHeader {
  display: flex;
  justify-content: space-between;
  margin: 2vw 5vw;
}

.weatherNowSummary h4 {
  margin: 0;
  font-size: 6vw;
}

.weatherNowSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#skyIcon {
  height: 25vw;
}

.conditions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conditionIcons {
  height: 8vw;
}

.conditions div p {
  font-size: 6vw;
}

.conditions div {
  margin: 5vw;
}


@media (min-aspect-ratio: 3/4) {

  .weatherNowCard  {
    padding: 0;
  }

  .weatherNowHeader {
    margin: 1vw 5vw;
  }

  .weatherNowHeader h4 {
    font-size: 2.5vw;
  }

  #skyIcon {
    height: 12.5vw;
  }

  .conditions div{
    display: flex;
    flex-direction: row;
  }

  .conditionIcons {
    height: 3vw;
  }

  .conditions div p {
    font-size: 3vw;
  }
}