.chip {
  display: inline-flex;
  align-items: center;
  border: 2px solid #406882;
  background-color: #1A374D;
  border-radius: 16px;
  padding: 4px 12px;
  cursor: pointer;
}

.selected {
  background-color: #406882;
}

.hidden {
   visibility: hidden;
}

.chipIcon {
  height: 18px;
  margin-right: 4px;
}

.chip:hover {
  background-color: #406882;
  transition: 0.3s;
}

.chip-label {
  font-size: 1rem;
  color: white;
}

.chip-container {
  position: relative;
  margin: 0 1vw;
}

#favouritesChipLabel {
  padding-right: 22px;
}

.menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px;
  margin: 0;
  z-index: 1;
}

.menu-items li {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
}

.menu-items li:hover {
  background-color: lightgray;
}
