.filterCard {
  display: flex;
  justify-content: right;
  margin: 1.5%;
}

.filterCard > div > label {
  margin-right: 2vw;
}

@media (max-aspect-ratio: 3/4) {
  .showFavouritesCheckbox {
    transform: scale(1.3334);
  }
}