.tableHeader, .tableData {
    border: 1px solid #ccc;
}

.symbolCodes{
  width: 32px;
}

#forecastListTableHeader {
  color: red;
  display: flex;
}

#forecastListTableBody {
  color: yellow;
  display: flex;
  flex-direction: column;
}

.forecastListDay {
  display: flex;
  flex-direction: row;
}

.forecastListDataNumbers {
  background-color: green;
}

.forecastListSymbols {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}


