@font-face {
  font-family: roboto-regular;
  src: url(./assets/Roboto-Regular.ttf);
}

body {
  background-color: #1A374D;
  color: white;
  font-family: "Roboto-Regular", sans-serif;
}

.card {
  background-color: #406882;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

input {
  margin: 0;
}