.content {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destinationCardContainer {
  margin: 1.5%;
}

@media (max-aspect-ratio: 3/4) {
  .content {
    margin-top: 20%;
  }

  .destinationCardContainer {
    border-radius: 10vw;
  }
}
