.landingPageContainer {
  margin: 5% 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 

.filterContainer {
  margin: 1.5%;
}

.destinationCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.destinationCardContainer {
  margin: 1.5%;
}

@media (max-aspect-ratio: 3/4) {
  .landingPageContainer {
    margin: 20% 0 0 0;
  }
  
}
